.iframe{
    border: 0px none; 
    margin-left: -35rem; 
    height: 90rem; 
    margin-top: -33.5rem; 
    width: 126.3rem;
}
.iframe-box{
    overflow: hidden; 
    margin: 15px auto; 
    max-width: 80rem;
}